{% extends 'base.html' %}
{% block title %}page_detail.html{% endblock %}
{% block head %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js"></script>
<script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function getPDF(){

    var HTML_Width = $(".canvas_div_pdf").width();
    var HTML_Height = $(".canvas_div_pdf").height();
    var top_left_margin = 15;
    var PDF_Width = HTML_Width+top_left_margin;
    var PDF_Height = PDF_Width+top_left_margin;
    var canvas_image_width = HTML_Width;
    var canvas_image_height = HTML_Height;

    var totalPDFPages = Math.ceil(HTML_Height/PDF_Height)-1;

    html2canvas($(".canvas_div_pdf")[0],{allowTaint:true}).then(function(canvas) {
        canvas.getContext('2d');

        console.log(canvas.height+"  "+canvas.width);

        var imgData = canvas.toDataURL("image/jpeg", 1.0);
        var pdf = new jsPDF('p', 'pt',  [PDF_Width, PDF_Height]);
        pdf.addImage(imgData, 'JPG', top_left_margin, top_left_margin,canvas_image_width,canvas_image_height);

        for (var i = 1; i <= totalPDFPages; i++) {
            pdf.addPage(PDF_Width, PDF_Height);
            pdf.addImage(imgData, 'JPG', top_left_margin, -(PDF_Height*i)+(top_left_margin*4),canvas_image_width,canvas_image_height);
        }
        pdf.save("AML-Document.pdf");
        });
	};
</script>
{% endblock %}
{% block content %}
    {% load static %}
    <!-- Page Content-->
    <section class="py-5">
    <div class="container px-5 my-5">
        <!-- PDF 저장시 표시 되는 공간입니다 -->
        <div class="canvas_div_pdf">
            <div class="row gx-5">
                <div class="col-lg-6">
                    <article>
                        <header class="mb-4">
                            <h2 class="fw-bolder fs-5 mb-4">{{ page.title }}의 {{ page.page_num }} 페이지 상세 화면</h2>
                        </header>

                        <!-- 캔버스에 SANCTION LIST 박스처리 -->
                        <figure class="mb-4">
                        <canvas id="canvas" width="480" height="640" style="border:1px solid #d3d3d3;">
                            Your browser does not support the HTML5 canvas tag.
                        </canvas>
                        <script type="text/javascript">
                            var jsonArrStr = '{{ page.box_json |safe|escape}}';
                            var jsonArr = JSON.parse(jsonArrStr);

                            var ocrInfo = {
                                imgUrl : '{% get_static_prefix %}upload/{{page.filename}}_{{page.page_num}}.jpg',
                                ocrLoc : jsonArr
                            }
                            /**
                            * Canvas 설정
                            */
                            var setCanvas = function(ocrInfo){
                            var canvas = document.getElementById('canvas');
                                if (canvas.getContext) {

                                    var ctx = canvas.getContext('2d');
                                    var imageObj = new Image();
                                    imageObj.onload = function () {
                                        // 원본 너비와 높이를 구해서 박스값 변환하는데 사용합니다.
                                        var originWidth = this.width;
                                        var originHeight = this.height;

                                        canvas.width=480;
                                        canvas.height=640;
                                        ctx.drawImage(imageObj, 0, 0, 480, 640);
                                        // multi boxing 처리 (480 * 640 사이즈에 맞도록 변환)
                                        $.each(ocrInfo.ocrLoc, function(key, item){
                                            ctx.strokeStyle = item.color;
                                            ctx.lineWidth = 2;
                                            ctx.strokeRect(item.x*(480/originWidth), item.y*(640/originHeight), item.w*(480/originWidth), item.h*(640/originHeight));

                                            // Text 처리
                                            ctx.textBaseline = 'top';
                                            ctx.font="11px Verdana";
                                            ctx.fillStyle = "red";
                                            ctx.fillText(item.text, item.x*(480/originWidth), item.y*(640/originHeight) + item.h*(640/originHeight) + 5);
                                            ctx.fill();
                                        });
                                    };
                                    imageObj.src = ocrInfo.imgUrl;
                                    }
                            };
                            // set Canvas
                            setCanvas(ocrInfo);
                        </script>
                        </figure>
                    </article>

                </div>

                <div class="col-lg-5">
                    <div onclick="getPDF()" class="d-flex align-items-center mt-lg-4 mb-4">
                        <a href="#" class="btn btn-warning btn-icon-split">
                            <span class="icon text-white-50">
                                <i class="fas fa-exclamation-triangle"></i>
                            </span>
                            <span class="text">다운로드</span>
                        </a>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header">
                            최종결론
                        </div>
                        <div class="card-body">
                            {% if result %}
                                {{ result }}
                            {% else %}
                                안전 서류
                            {% endif %}
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header">
                            판단근거
                        </div>
                        <div class="card-body">
                            {% if sanction %}
                                {% for sanction_name in sanction %}
                                    제재 대상 : {{ sanction_name.0 }}, 점수 : {{ sanction_name.1 }} <br/>
                                {% endfor %}
                            {% else %}
                                제재 대상이 발견되지 않았습니다
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
{% endblock %}