{% extends 'base.html' %}
{% block title %}introduce.html{% endblock %}

{% block content %}
    {% load static %}
    <!-- Page Content-->

    <section class="py-5">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h1 class="fw-bolder">Our Work</h1>
                <p class="lead fw-normal text-muted mb-0">1조 portfolio</p>
            </div>
            <div class="row gx-5">
                <div class="col-lg-6">
                    <div class="position-relative mb-5">
                        <img class="img-fluid rounded-3 mb-3" src={% static "img/1.jpg" %} alt="..." />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="position-relative mb-5">
                        <img class="img-fluid rounded-3 mb-3" src={% static "img/2.jpg" %} alt="..." />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="position-relative mb-5 mb-lg-0">
                        <img class="img-fluid rounded-3 mb-3" src={% static "img/3.jpg" %} alt="..." />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="position-relative">
                        <img class="img-fluid rounded-3 mb-3" src={% static "img/0.jpg" %} alt="..." />
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}